.user-container{
background-color:white;
margin:2rem;
padding:1rem;
border-radius: 1rem;
display:flex;
gap:2rem;
transition:all 1s;
}
body{
background-color:beige;
background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.user-avatar{
border-radius:50%;
height:160px;
width:160px;
object-fit: cover;
}

.user-name{
font-size:1.4rem;
font-family: 'Poppins', sans-serif;
font-weight: bold;
}
.user-container:hover{
transform:scale(1.1);
}

.user-container:hover .user-name{
color:chocolate;
}